body {
    color: #FEFEFE;
}

.draco-container {
    padding: 5rem 0;
}

.draco-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}


.about-title1 {
    font-weight: 500;
    line-height: 1.2;
    font-size: 2rem;
    color: blueviolet;
    font-weight: bold;
    margin-bottom: 2rem;
}

.exoplaneta1-image {
    border-radius: 20px;
    width: 100%;
}

.draco-image-1 {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.legenda-fotos {
    font-size: 14px;
    text-align: center;
    margin-top: 2rem;
}

.wall {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 4rem;
    text-align: justify;
    margin-bottom: 30px;
    margin-top: 30px;
}

.wall>* {
    display: flex;
    flex: 1;
    gap: 3rem;
    align-items: center;
}

.wall>*>* {
    flex: 1;
}

.wall img {
    width: 100%;
    border-radius: 20px;
}

.wall figcaption,
article figcaption {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    margin-top: 5px;
}

.topics ol {
    list-style: decimal;
    margin-left: 8%;
    text-align: justify;
    margin-bottom: 3rem;
}

.topics ol li {
    line-height: 25px;
    margin-bottom: 5px;
}

.topics li span {
    font-weight: bold;
}

.topics,
.wall p {
    margin-top: 3rem;
}

.table table {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
    border-radius: 20px;
    overflow: hidden;
}

.table table td,
.table table th {
    padding: 0.7rem;
}

.table table thead tr {
    background-color: #FEFEFE;
    color: purple;

}

.table table th {
    font-weight: bold;
}

.table table tbody tr:nth-child(even) {
    background-color: rgb(179, 122, 179);
}